<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<h1>Log In</h1>
<%= form_tag login_path do %>
  <%= label_tag :user_name, "Username" %>
  <%= text_field_tag :user_name %><br>
  <%= label_tag :user_name, "Password" %>
  <%= password_field_tag :password %><br>
  <%= submit_tag 'Login' %>
<% end %>
