<h1><%= @user.name %></h1>
<h3>AKA <%= @user.user_name %></h3>
<br>
<%= @user.favorite_food_type %><br>
You've written <%= pluralize(@user.reviews.count, 'review') %><br>
Member since <%= @user.created_at.strftime("%B %d, %Y") %><br>
<%= link_to "Edit", edit_user_path(@user) %> - <%= link_to "Delete", user_path(@user), method: :delete %>

<br><br>

<% if @reviews.count != 0 %>
  <h4>All Reviews</h4>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <b>Restaurant:</b> <%= link_to review.restaurant.name, restaurant_path(review.restaurant) %><br>
        <b>Rating:</b> <%= review.rating %><br>
        <b>Created:</b> <%= review.created_at.strftime("%B %d, %Y") %><br>
        <% if review.created_at != review.updated_at %>
          <b>Updated:</b> <%= review.updated_at.strftime("%B %d, %Y") %><br>
        <% end %>
        <%= review.content %><br>
        <%= link_to "Edit", edit_review_path(review) %> - <%= link_to "Delete", review_path(review), method: :delete %>
      </li><br>
    <% end %>
  </ul>
<% end %>

<% if @user.favorites.count != 0 %>
  <h4>Favorited Restaurants</h4>
  <ul>
    <% @user.favorites.each do |favorite| %>
      <li>
        <%= link_to favorite.restaurant.name, restaurant_path(favorite.restaurant) %>
      </li>
    <% end %>
  </ul>
<% end %>
