
<!--------------- Header --------------------->
<h1 class="cover-heading" style="padding: 5px 10px 5px 15px; border: 10px;">
  Restaurants
  <small class="text-muted">near 3rd Ave WeWork</small>
</h1>

<!--------------- Search Form --------------------->
<form class="form-inline" style="padding: 5px 10px 5px 15px; border: 10px;">
  <%= form_tag(restaurants_path, method: :get) do %>
    <%= text_field_tag :search, params[:search], class: 'form-control mb-2 mr-sm-2', placeholder: "Search by Cuisine" %>

    <%= label_tag "Price Range" %>
    <%= collection_check_boxes :restaurant, :price_range, @price_range, :itself, :itself %>

    <%= label_tag "Rating (Equal to and Higher than)" %>
    <%= collection_select :restaurant, :rating, @rating, :itself, :itself %>

    <div class="input-group-append">
    <%= submit_tag "Search", class: 'btn btn-primary mb-2' %>
    </div>

  <% end %>
</form>

<!--------------- Result Message -------------------------->
<% if @message %>
  <%= pluralize(@restaurants.count, 'result') %>
<% end %>

<!--------------- List of Restaurants --------------------->
<ul style="list-style: none; padding: 0px 10px 5px 0px; border: 10px;">
  <% @restaurants.each do |restaurant| %>
    <li>
      <div class="card" style="padding: 15px; border: 10px;">
        <h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Price Range: <%= restaurant.price_range %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Cuisine: <%= restaurant.food_type.name %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Rating: <%= Review.avg_rating(restaurant) %> (Based on <%= pluralize(restaurant.reviews.count, 'review') %>)</h6>
      </div>
    </li>
  <% end %>
</ul>
