

<h1>Restaurants</h1>

<h4>Search by Cuisine:</h4>
  <%= form_tag(restaurants_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Search") %>
  <% end %>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
      Price Range: <%= restaurant.price_range %><br>
      Cuisine: <%= restaurant.food_type.name %><br>
      Rating: <%= Review.avg_rating(restaurant) %> (Based on <%= pluralize(restaurant.reviews.count, 'review') %>)
    </li>
  <% end %>
</ul>
