<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.address %></h3>
<h3><%= @restaurant.price_range %></h3>
<h3><%= @restaurant.food_type.name %></h3>


<% if logged_in? %>
  <%= form_for Review.new, :html => {:class => "form-group"}, :url => reviews_path do |f| %>
    <%= f.label :content, "Write a Review" %><br>
    <%= f.text_area :content %><br>
    <%= f.label :rating %><br>
    <%= f.collection_select :rating, @rating, :itself, :itself %>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
    <%= f.submit "Post Review" %>
  <% end %>
  <br><br>

  <% if @favorite %>
    <%= link_to 'Unfavorite', favorite_path(@favorite), method: :delete %>
  <% else %>
    <%= link_to "Favorite", favorites_path(restaurant: @restaurant), method: :post %>
  <% end %>
  <br><br>
  <%= link_to "Log Out", logout_path %>
<% end %>

  <%= link_to "Log Out", logout_path, method: :delete %>
<% else %>
  <%= link_to "Login", login_path %>
  <br><br>
  OR
  <br><br>
  <%= link_to "Sign Up", signup_path %>
<% end %>

<br><br>
<!-- Prints out reviews if there are any -->

<% if @reviews.any? %>
  Reviews: <%= @reviews.count %><br>
  Avg. Rating: <%= Review.avg_rating(@restaurant) %>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        User: <%= review.user.name %><br>
        Rating: <%= review.rating %><br>
        Review: <%= review.content %><br>
        Created: <%= review.created_at.strftime("%B %d, %Y") %><br>
        <% if review.created_at != review.updated_at %>
          Updated: <%= review.updated_at.strftime("%B %d, %Y") %><br>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
